<ion-header>
  <ion-toolbar color="light">
    <table width="100%">
      <tr>
        <td>
          <ion-title>
            Busquem el tresor!
          </ion-title>
        </td>
        <td align="right">
          <ion-button (click)="backButton()" style="margin-right: 2vw;">
            <ion-icon name="exit-outline"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </table>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div
    *ngFor="let task of tasks; let i = index"
    class="planeta {{i % 2 == 1 ? 'left' : 'right'}}"
  >
  <input type="text" readonly value="{{i+1}}" style="background-color: transparent; border-color: transparent; color: white; text-align: center; font-size: large; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" >
    <button (click)="forwardTo(task.taskUrl)" class="adventureButton">
      <img src="{{task.imgSrc}}" />
    </button>
  </div>
</ion-content>
