<ion-header>
  <ion-toolbar color="light">
    <table width="100%">
      <tr>
        <td>
          <ion-title>
            L'aventura de l'espai
          </ion-title>
        </td>
        <td align="right">
          <ion-button (click)="backButton()">
            <ion-label>Enrere</ion-label>
          </ion-button>
        </td>
      </tr>
    </table>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}" (click)="showActionSheet(photo, position)"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
