<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="tertiary" font-weight='bold' style="text-align: center">
      <h1><ion-icon slot="end" name="star" color="danger"></ion-icon> <ion-icon slot="end" name="star" color="tertiary"></ion-icon> <ion-icon slot="end" name="star" color="danger"></ion-icon> Trick or Threat <ion-icon slot="end" name="star" color="danger"></ion-icon> <ion-icon slot="end" name="star" color="tertiary"></ion-icon> <ion-icon slot="end" name="star" color="danger"></ion-icon> </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="height: 75%">
    <ion-card>      
        <ion-item color="tertiary" lines="none" >
          <ion-avatar slot="start">
            <img src="/assets/images/Minuteman.png" alt="" >
          </ion-avatar>
          <ion-label color="primary">
            <h3>Minuteman1776</h3>
            <p>Boulder, CO</p>
          </ion-label>
          <ion-button slot="end" shape="round" size="medium" color="danger" (click)=goToTab3()>
              <ion-icon slot="icon-only" name="settings" class="center" color="tertiary"></ion-icon>
            </ion-button>
        </ion-item>
      </ion-card>

    <ion-list lines="full" >
      <ion-item color="tertiary">
        <ion-icon slot="start" color="primary" name="clipboard"></ion-icon>
        <ion-label color="primary">Analyzed</ion-label>
        <ion-label color="primary"> 235</ion-label>
      </ion-item>
      <ion-item color="secondary">
        <ion-icon slot="start" color="primary" name="locate"></ion-icon>
        <ion-label color="primary">Efficiency</ion-label>
        <ion-label color="primary"> 75%</ion-label>
      </ion-item>
      <ion-item color="tertiary">
        <ion-icon slot="start" color="primary" name="list"></ion-icon>
        <ion-label color="primary">Ranking</ion-label>
        <ion-label color="primary"> #15</ion-label>
      </ion-item>
      <ion-item color="secondary">
        <ion-icon slot="start" color="primary" name="medal"></ion-icon>
        <ion-label color="primary">Awards</ion-label>
        <ion-label color="primary"> 3</ion-label>
      </ion-item>
    </ion-list>

    <ion-row> 
  <ion-col style="text-align: center">
          <ion-button shape="round" size="large" color="primary" (click)=goToTab2()><ion-icon slot="end" name="finger-print" color="tertiary"></ion-icon>Play</ion-button>
  </ion-col>
  </ion-row>
</ion-grid> 
<ion-card color="tertiary">    
    <ion-card-title>
        <ion-label color="primary">
          <ion-icon slot="start" color="danger" name="bookmark"></ion-icon>
          Did you know?
        </ion-label>
    </ion-card-title>
    <ion-card-content *ngFor="let c of cards">
        <ion-label font-weight="bold"  color="primary">
          {{c.text}}
        </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>