<ion-header>
    <ion-toolbar color="primary">
      <ion-title color="tertiary" font-weight='bold' style="text-align: center">
        <h1><ion-icon slot="end" name="star" color="danger"></ion-icon> <ion-icon slot="end" name="star" color="tertiary"></ion-icon> <ion-icon slot="end" name="star" color="danger"></ion-icon> Trick or Threat <ion-icon slot="end" name="star" color="danger"></ion-icon> <ion-icon slot="end" name="star" color="tertiary"></ion-icon> <ion-icon slot="end" name="star" color="danger"></ion-icon> </h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-grid style="height: 75%">
          <ion-row justify-content-center align-items-center style="height: 25%">
              <ion-avatar>
                  <img src="/assets/images/Minuteman.png" alt="" >
              </ion-avatar>
          </ion-row>
          <ion-row justify-content-center align-items-center>
          <ion-button expand="block" size="large" color="primary" style="width: 95%">Update Profile Picture</ion-button>
          </ion-row>
  
          <ion-row justify-content-center align-items-center>
              <ion-button expand="block" size="large" color="secondary" style="width: 95%">Update Localization</ion-button>
              </ion-row>
  
              <ion-row justify-content-center align-items-center>
                  <ion-button expand="block" size="large" color="primary" style="width: 95%">Update Age</ion-button>
                  </ion-row>
  
                  <ion-row justify-content-center align-items-center>
                      <ion-button expand="block" size="large" color="secondary" style="width: 95%">Update Password</ion-button>
                      </ion-row>
  
                      <ion-row justify-content-center align-items-center>
                          <ion-button shape="round" size="small" color="danger" (click)=goToTab1()><ion-icon slot="icon-only" name="undo" color="tertiary"></ion-icon></ion-button>
                          </ion-row>
        </ion-grid>

        <ion-item>
          <ion-label>Day of Birth</ion-label>
           <ion-datetime
            value="userProfile.dob"
            displayFormat="D MMM YYYY"
            pickerFormat="D MMM YYYY"
            [(ngModel)]="dob"
            (ionChange)="updateDOB(dob)"
          >
          </ion-datetime>
        </ion-item>







    <ion-card color="tertiary">    
      <ion-card-title>
          <ion-label color="primary">
            <ion-icon slot="start" color="danger" name="bookmark"></ion-icon>
            Did you know?
          </ion-label>
      </ion-card-title>
      <ion-card-content >
          <ion-label font-weight="bold"  color="primary" *ngFor="let c of cards">
            {{c.text}}
          </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-content>
  