<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="contrast"></ion-icon>
      <ion-label>Partida Privada</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Partida Pública</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="star-half"></ion-icon>
      <ion-label>Tallers Super3</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab2">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
