<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Benvinguda! Benvingut!</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">
  <ion-grid style="height: 8%"></ion-grid>
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
    <ion-item>
      <ion-label  position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div  class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-grid style="height: 20px"></ion-grid>
    <ion-item>
      <ion-label  position="floating" color="primary">Contrassenya</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

  
  <ion-grid style="height: 20px"></ion-grid> 
<div style="text-align: center; vertical-align: top">
  <ion-button  class="submit-btn" type="submit"  [disabled]="!validations_form.valid" style="width: 60%">Som-hi!</ion-button>
  <label class="error-message">{{errorMessage}}</label>
</div>
  <div style="text-align: center; vertical-align: top">
    
    <ion-button (click)="goToRegisterPage()" style="width: 60%" color="warning">
      <ion-label>Crea un compte nou</ion-label>
    </ion-button>
  </div> 
</form>
  <!-- <div style="text-align: center; position: fixed; bottom: 0;">
    <a href="https://www.vecteezy.com/free-vector/camping-background" style="font-size: 10px;">Camping Background Vectors by Vecteezy</a>
  </div> -->
</ion-content>
