ion-content ion-toolbar {
  --background: translucent;
}

ion-content.background {
  --background: url("/assets/images/game1/fons_espai.png") 0 0/100% 100%
    no-repeat;
}

.adventureButton {
  background-color: transparent;
  width: 40%;
}

.adventureImage {
  background: transparent;
}

.center {
  margin: auto;
  width: 80%;
}

.planeta {
  display: block;
  margin: 3vh 20%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
