ion-content ion-toolbar {
  --background: translucent;
}

ion-content.background {
  --background: url("/assets/images/game2/mar.png") 0 0/100% 100%
    no-repeat;
}

.textfield {
  background-color:"light";
}

.avatarButton {
  background-color: transparent;
  width: 20%;
  position: relative;
}

.avatarImage {
  background: transparent;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  align-items: center;
}
