<ion-header>
  <ion-toolbar  color="light">
    <div class="grid-container">
      <div class="grid-item">
        <img
          *ngIf="imageSource"
          src="{{imageSource}}"
          alt="userAvatar"
          id="userAvatar"
          style="height: 6vh;"
        />
      </div>
      <div class="grid-item">
        <ion-title>
          Comença l'aventura!
        </ion-title>
      </div>
      <div class="grid-item" style="text-align: right;">
        <ion-button (click)="backButton()" style="justify-self: end;">
          <ion-label>Enrere</ion-label>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <table width="90%" style="margin: auto;">
    <ion-card>
      <ion-card-header>
    <tr>
      <td>
          <ion-text color="secondary"  style="text-align: center;">
          <h1>Encantats! Digue'ns, qui ets?</h1></ion-text>
      </td>
    </tr>
  </ion-card-header>
  </ion-card>
  <ion-card>
    <tr>
      <td>
        <ion-text color="tertiary" style="text-align: center;">
          <h5>
            Ens agradaria saber més de tu: podries <ion-text color="secondary">seleccionar un personatge</ion-text> i
            dir-nos algunes coses que et facin especial?
          </h5>
        </ion-text>
      </td>
    </tr>
    <ion-card color="light"> 
      <ion-textarea
        color="dark"
        class="textfield"
        clearOnEdit="true"
        placeholder="{{textSource ? '' : 'Qui ets?'}}"
        value="{{textSource ? textSource : ''}}"
        width="100%"
        rows="5"
        style="margin-bottom: 5vh;"
        (input)="onInputText($event.target.value)"
      ></ion-textarea>

  </ion-card>
  </ion-card>
    <tr style="margin-top: 5vw;">
      <td>
        <div class="center">
          <button (click)="setAvatar(0)" class="avatarButton">
            <img src="assets/avatars/0.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(1)" class="avatarButton">
            <img src="assets/avatars/1.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(2)" class="avatarButton">
            <img src="assets/avatars/2.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(3)" class="avatarButton">
            <img src="assets/avatars/3.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(4)" class="avatarButton">
            <img src="assets/avatars/4.png" class="avatarImage" />
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="center">
          <button (click)="setAvatar(5)" class="avatarButton">
            <img src="assets/avatars/5.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(6)" class="avatarButton">
            <img src="assets/avatars/6.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(7)" class="avatarButton">
            <img src="assets/avatars/7.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(8)" class="avatarButton">
            <img src="assets/avatars/8.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(9)" class="avatarButton">
            <img src="assets/avatars/9.png" class="avatarImage" />
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="center">
          <button (click)="setAvatar(10)" class="avatarButton">
            <img src="assets/avatars/10.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(11)" class="avatarButton">
            <img src="assets/avatars/11.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(12)" class="avatarButton">
            <img src="assets/avatars/12.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(13)" class="avatarButton">
            <img src="assets/avatars/13.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(14)" class="avatarButton">
            <img src="assets/avatars/14.png" class="avatarImage" />
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="center">
          <button (click)="setAvatar(15)" class="avatarButton">
            <img src="assets/avatars/15.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(16)" class="avatarButton">
            <img src="assets/avatars/16.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(17)" class="avatarButton">
            <img src="assets/avatars/17.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(18)" class="avatarButton">
            <img src="assets/avatars/18.png" class="avatarImage" />
          </button>
          <button (click)="setAvatar(19)" class="avatarButton">
            <img src="assets/avatars/19.png" class="avatarImage" />
          </button>
        </div>
      </td>
    </tr>
  </table>
</ion-content>
