<ion-header>
    <ion-toolbar color="primary">
      <ion-title color="tertiary" font-weight='bold' style="text-align: center">
        <h1><ion-icon slot="end" name="star" color="danger"></ion-icon> <ion-icon slot="end" name="star" color="tertiary"></ion-icon> <ion-icon slot="end" name="star" color="danger"></ion-icon> Trick or Threat <ion-icon slot="end" name="star" color="danger"></ion-icon> <ion-icon slot="end" name="star" color="tertiary"></ion-icon> <ion-icon slot="end" name="star" color="danger"></ion-icon> </h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-grid style="height: 70%">
    <ion-row style="height: 5%"> 
      <ion-col style="text-align: center">
          <ion-button shape="round" size="small" color="danger" (click)=goToTab1()>
            <ion-icon slot="icon-only" name="undo" class="center" color="tertiary"></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row style="height: 45%">
      <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwout)="onThrowOut($event)"  id="card-stack">
        <div #mycards1 swing-card *ngFor="let c of cards">
          <ion-card color='tertiary'>
            <ion-card-header>
              <ion-label color='primary'><h3>{{c.where}}</h3></ion-label>
            </ion-card-header>
            <ion-card-content>
            <ion-label color='primary'><h1 >{{c.text}}</h1></ion-label>
          </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-row>
    </ion-grid>
    <ion-row style="height: 10%"> 
      <ion-col style="text-align: center">
        <ion-button shape="round" color="secondary" (click)=markNoidea()>
          <ion-icon color="primary" slot="icon-only" name="help" class="center"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row style="height: 12%"> 
      <ion-col style="text-align: right">
        <ion-button shape="round" size="large" color="primary" (click)="markTrick()"><ion-icon slot="end" name="ice-cream" color="tertiary"></ion-icon>Trick</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" size="large" color="danger" (click)="markThreat()"><ion-icon slot="start" name="warning" color="tertiary"></ion-icon>Threat</ion-button>
      </ion-col>  
    </ion-row >
    <h3 style="text-align: center; height: 5%; width: 100%;">{{ recentCard }}</h3>
     
  </ion-content>
  