#card-stack {
    width: 90%;
    height: 90%;
    margin: 20px auto 0;
    position: relative;
}

#card-stack ion-card {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 3%;
}
  
  
