<ion-header>
  <ion-toolbar color="light">
    <div class="grid-container">
      <div class="grid-item">
        <img
          *ngIf="imageSource"
          src="{{imageSource}}"
          alt="userAvatar"
          id="userAvatar"
          style="height: 6vh;"
        />
      </div>
      <div class="grid-item">
        <ion-title>
          Viatgem a Mart!
        </ion-title>
      </div>
      <div class="grid-item" style="text-align: right;">
        <ion-button (click)="backButton()" style="justify-self: end;">
          <ion-label>Enrere</ion-label>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <div class="scroll-content">
    <div class="upper-content">
      <table width="90%" style="margin: auto;">
        <ion-card color="danger">
          <ion-card-header>
            <ion-card-title>PAS BLOQUEJAT</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>FINS QUE NO RESOLGUIS LES ANTERIORS ACTIVITATS, NO PODRAS PROSSEGUIR LA TEVA AVENTURA. SOM-HI, TU POTS!!</p>
          </ion-card-content>
        </ion-card>
      </table>
    </div>
  </div>
</ion-content>