<ion-header>
  <ion-toolbar color="light">
    <div class="grid-container">
      <div class="grid-item">
        <img
          *ngIf="imageSource"
          src="{{imageSource}}"
          alt="userAvatar"
          id="userAvatar"
          style="height: 6vh;"
        />
      </div>
      <div class="grid-item">
        <ion-title>
          Viatgem a Mart!
        </ion-title>
      </div>
      <div class="grid-item" style="text-align: right;">
        <ion-button (click)="backButton()" style="justify-self: end;">
          <ion-label>Enrere</ion-label>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="scroll-content">
    <div class="upper-content">
      <table width="90%" style="margin: auto;">
        <ion-card>
              <ion-text style="text-align: center;" color="secondary">
              <h1>Les nostres naus</h1>
            </ion-text>
               
      </ion-card>
      <div class="grid-item" style="text-align: center;">
      <ion-button color="secondary" href="https://ca.wikipedia.org/wiki/Bandera_de_la_Terra" routerDirection="root"><ion-icon color="light" name="rocket" ></ion-icon></ion-button>
</div>
      <ion-card>
        <ion-card-content>
            <ion-text color="medium" style="text-align: justify;">
              <h5>
                {{text1}}
              </h5>
              <h5>
                {{text2}}
              </h5>
            </ion-text>
          </ion-card-content>
      </ion-card>
        <tr></tr>
      </table>
      <ion-grid>
        <ion-row style="justify-content: center">
          <ion-col
            size="1"
            *ngFor="let photo of photoService.photos; index as position"
          >
            <ion-img
              src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
              (click)="showActionSheet(photo, position)"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="lower-content">
      <div class="grid-item" style="text-align: center;">
        <h5 id="PhotoText" style="color: white" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
          
        </h5>
      </div>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="tryCapturePhoto()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>
