<ion-tabs>

<ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab1">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Main Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="finger-print"></ion-icon>
      <ion-label>Play the Game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuration</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Log Out!</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
