ion-content ion-toolbar {
  --background: translucent;
}

ion-content.background{
  --background: url("/assets/images/game2/mar.png") 0 0/100% 100%
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  align-items: center;
}