<ion-header>
  <ion-toolbar color="light">
    <table width="95%">
      <tr>
        <td>
          <ion-title>Partida Pública</ion-title>
        </td>
        <td align="right">
          <ion-button (click)="logout()" color="tertiary">
            <ion-icon name="power-outline"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </table>
    
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div style="height: 60%; padding-top: 10vh;">
    <ion-label style="text-align: center; vertical-align: top">
    <ion-text>
      <h6 style="padding-left: 4vw;">Codi postal</h6>
    </ion-text></ion-label>
    <ion-item>
      <ion-input
        type="text"
        inputmode="numeric"
        pattern="^\d{5}$"
        placeholder="ex: 08320"
        [(ngModel)]="postalCode"
        (input)='onInputText($event.target.value)'
      ></ion-input>
    </ion-item>
    <div [hidden]=warningTextHidden>
      <ion-text color="danger">
        <h4 id="errorString">Aquest codi postal no és vàlid.</h4>
      </ion-text>
    </div>
    <div style="text-align: center;">
      <ion-button style="width: 60%" (click)="searchButton()">
        
        <ion-label> Busca partides </ion-label> <ion-icon name="search"></ion-icon>
      </ion-button>
      <div style="text-align: center; vertical-align: top; height: 15vh;">
        <ion-button style="width: 60%" color="tertiary">
        <a href="https://ericir.github.io/intrepits-monitors/" routerDirection="root">Ets un monitor/a?</a>
      </ion-button>
      </div>
    </div>

    <div [hidden]=availableGamesHidden style="padding-top: 5vh">
      <ion-card>
        <ion-item>
          <ion-icon name="planet" slot="start"></ion-icon>
          <ion-label>Direcció Mart</ion-label>
          <ion-button fill="outline" slot="end" (click)="playButton('/game')">Som-hi!</ion-button>
        </ion-item>
        <ion-card-content>
          En aquesta ruta aprendràs coses sobre l'espai!
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="boat" slot="start"></ion-icon>
          <ion-label>L'illa dels pirates</ion-label>
          <ion-button fill="outline" slot="end" (click)="playButton('/game2')">Som-hi!</ion-button>
        </ion-item>
        <ion-card-content>
          Vols saber més sobre els pirates?
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div style="text-align: center; position: fixed; bottom: 0;">
    <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a>
  </div>
</ion-content>