ion-content ion-toolbar {
  --background: translucent;
}

ion-content.background{
  --background: url("/assets/images/game2/mar.png") 0 0/100% 100%
}

.scroll-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
  display: flex;             // added by me
  flex-direction: column;    // added by me
}

.upper-content {
  height: 80%;
}

.lower-content {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  align-items: center;
}