ion-content ion-toolbar {
  --background: translucent;
}

ion-content.background{
  --background: url('/assets/images/game1/fons_espai.png') 0 0/100% 100% no-repeat;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  align-items: center;
}