<ion-header>
  <ion-toolbar  color="light">
    <table width="95%">
      <tr>
        <td>
          <ion-title>
            Partida Privada
          </ion-title>
        </td>
        <td align="right">
          <ion-button (click)="logout()" color="tertiary">
            <ion-icon name="power-outline"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </table>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div style="height: 60%; padding-top: 10vh;">
    <ion-label style="text-align: center; vertical-align: top">
    <ion-text>
      <h5>Codi de la Partida</h5>
    </ion-text>
  </ion-label>
    <ion-item>
      <ion-input
        type="number"
        inputmode="numeric"
        placeholder="Primer cop? Intenta: 123456"
        [(ngModel)]="gameCode"
        (input)='onInputText($event.target.value)'
      ></ion-input>
    </ion-item>
    <div [hidden]=warningTextHidden>
      <ion-text color="danger">
        <h4 id="errorString">El codi de partida no és vàlid.</h4>
      </ion-text>
    </div>
    
    <div style="text-align: center;">
      <ion-button style="width: 60%" (click)="playButton()">
        
        <ion-label>Comença a jugar!   </ion-label><ion-icon name="enter-outline"></ion-icon>
      </ion-button>
    </div>

    <div style="text-align: center; vertical-align: top; height: 15vh;">
      <ion-button style="width: 60%" color="tertiary">
        <ion-label><a href="https://ericir.github.io/intrepits-monitors/" routerDirection="root">Ets un monitor/a?</a></ion-label>
      </ion-button>
    </div>
    
  </div>
  <div style="text-align: center; position: fixed; bottom: 0;">
    <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a>
  </div>
</ion-content>