<ion-header>
  <ion-toolbar  color="light">
    <table width="95%">
      <tr>
        <td>
          <ion-title>Tallers del teu club!</ion-title>
        </td>
        <td align="right">
          <ion-button (click)="logout()" color="tertiary">
            <ion-icon name="power-outline"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </table>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe class='webPage' src="https://www.ccma.cat/tv3/super3/"></iframe>
</ion-content>
