<ion-header>
  <ion-toolbar color="light">
    <div class="grid-container">
      <div class="grid-item">
        <img
          *ngIf="imageSource"
          src="{{imageSource}}"
          alt="userAvatar"
          id="userAvatar"
          style="height: 6vh;"
        />
      </div>
      <div class="grid-item">
        <ion-title>
          Viatgem a Mart!
        </ion-title>
      </div>
      <div class="grid-item" style="text-align: right;">
        <ion-button (click)="backButton()" style="justify-self: end;">
          <ion-label>Enrere</ion-label>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="scroll-content">
    <div class="upper-content">
      <table width="90%" style="margin: auto;">
        <ion-card>
              <ion-text style="text-align: center;" color="secondary">
              <h1>Missió MART2025: tenim un problema</h1>
            </ion-text>
          </ion-card>
        <tr>
          <td>
            <ion-card>
              <ion-card-content>
                  <ion-text color="medium" style="text-align: justify;">
              <h5>
                Ens dirigim a vosaltres desde la NASA perquè necessitem la
                vostra ajuda. Hem tingut un problema a l'International Space
                Station (ISS), estem rebent molts missatges d'alarma i sabem que a la
                Terra esteu ben informats. Ens podrieu ajudar a saber què ha
                passat? A partir d'aquests titulars, desxifreu conjuntament tot
                el grup, que ha pogut passar a l'ISS?
              </h5>
            </ion-text>
          </ion-card-content>
        </ion-card>
          </td>
        </tr>
        <tr>
          <ion-card color="secondary">
            <ion-card-content>
          <ion-textarea
            readonly
            value="{{task3Text}}"
            rows="5">
          </ion-textarea>
        </ion-card-content>
      </ion-card>
        </tr>
        <tr>
          <ion-card>
          <ion-item>
            <ion-label position="stacked">El missatge desxifrat és:</ion-label>
            <ion-textarea rows="6" id="answerString" placeholder="Hola, bon dia, aquest és el text desxifrat....">
            </ion-textarea>
          </ion-item>
        </ion-card>
          <div [hidden]=warningTextHidden class="grid-item" style="text-align: center;">
            <ion-text color="{{resultColor}}">
              <h4 id="resultString"></h4>
            </ion-text>
          </div>
          <div class="grid-item" style="text-align: center;">
          <ion-button (click)="checkAnswer()">
            <ion-label>Comprova</ion-label>
          </ion-button>
          </div>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
