<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Registrar Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid style="height: 8%"></ion-grid>
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
 
    <ion-item>
      <ion-label  position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-grid style="height: 20px"></ion-grid>
    <ion-item>
      <ion-label  position="floating" color="primary">Contrassenya</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-grid style="height: 20px"></ion-grid>
    <div style="text-align: center; vertical-align: top">
    <ion-button  class="submit-btn" type="submit"  [disabled]="!validations_form.valid" style="width: 60%">Crea el compte</ion-button>
    <ion-grid style="height: 20px"></ion-grid>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
    </div>
  </form>
  <div style="text-align: center; vertical-align: top" color="primary">
  <p class="go-to-login">Ja tens un compte? <a (click)="goLoginPage()">Conecta't.</a></p>
</div>
</ion-content>